<div fxLayout="column" fxFlexFill id="content">
  <mat-toolbar color="primary">
    <img src="assets/images/logo_bibelquiz_auf_rot.png" alt="Logo" class="logo" [routerLink]="['/welcome']"/>
    <span class="spaced" [routerLink]="['/']" id="mainlink">KEB BibelQuiz Admin v{{version}}</span>
    <span class="spacer"></span>
    <a mat-button [routerLink]="'/questions'"> Fragen </a>
    <a mat-button [routerLink]="'/stats'"> Statistiken </a>
  </mat-toolbar>
  <main fxFlex>
    <router-outlet></router-outlet>
  </main>
</div>